.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

mat-card {
  margin: 10px;
  text-align: center;
}

mat-card-title,
mat-card-subtitle {
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

mat-card-content {
  margin-top: 20px;
}

.item {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.author {
  font-size: 15px;
  font-weight: bold;
} 