.mat-button {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}
.toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toolbar-left,
.toolbar-right {
  color: black;
}
